*{
    margin: 0;
    background-color: #222;
    box-sizing: border-box;
}

#container {
    margin: 0 auto;
    margin-top: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

#container h1 {
    color: #fff;
    margin-left: 60px;
    margin-bottom: 10px;
}

#btn {
    width: 30%;
    margin: auto;
    padding: 10px 4px;
    border: none;
    border-radius: 10px;
    background-color: #228B22;
}

#btn a {
    background-color: #228B22;
    color: #fff;
    text-decoration: none;
}
