*{
    background-color: #222;
}


#container {
    border-radius: 10px;
    border: 3px solid;
    margin: auto; 
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 500px;
    color: #fff;
}

#container h1 {
    margin: 15px 15px;
}

#info-box {
    border: 2px solid #fff;
    margin: 20px auto;
    padding: 20px 20px;
}

a {
    
    
    border-radius: 50px;
    padding: 15px 15px;
    margin: auto;
    background-color: rgb(51, 104, 7);
    color: #fff;
    text-decoration: none;
    
}
